.st0 {
    display: none;
}

.st1 {
    display: inline;
}

.st2 {
    fill: #010101;
}

.st3 {
    fill: #FFFFFF;
}

.st4 {
    fill: url(#SVGID_1_);
}

.st5 {
    fill: url(#SVGID_2_);
}

.st6 {
    fill: url(#SVGID_3_);
}

.st7 {
    fill: url(#SVGID_4_);
}

.st8 {
    fill: url(#SVGID_5_);
}

.st9 {
    fill: url(#SVGID_6_);
}

.st10 {
    fill: url(#SVGID_7_);
}

.st11 {
    fill: url(#SVGID_8_);
}

.st12 {
    fill: url(#SVGID_9_);
}

.st13 {
    fill: url(#SVGID_10_);
}

.st14 {
    fill: url(#SVGID_11_);
}

.st15 {
    fill: url(#SVGID_12_);
}

.st16 {
    fill: url(#SVGID_13_);
}

.st17 {
    opacity: 0.32;
    fill: url(#SVGID_14_);
    enable-background: new;
}

.st18 {
    opacity: 0.23;
    fill: url(#SVGID_15_);
    enable-background: new;
}

.st19 {
    fill: url(#SVGID_16_);
}

.st20 {
    opacity: 0.44;
    fill: url(#SVGID_17_);
    enable-background: new;
}

.st21 {
    opacity: 0.38;
    fill: url(#SVGID_18_);
    enable-background: new;
}

.st22 {
    fill: #239397;
}