.change-font-family .ant-select-selector {
  height: 40px !important;
  border: 2px solid #75ECF9 !important;
}
.change-font-family .ant-select-selector .ant-select-selection-item {
  font-size: 20px;
  line-height: 40px !important;
  letter-spacing: 0.09em;
}