@import "./pagesizes.scss";

.desktop-menu .ant-layout-sider-trigger {
  position: fixed;
  top: 55%;
  text-align: center;
  line-height: 105px;
  height: 105px !important;
  width: 21px !important;
  background: url(/img/svg/left-rectangle.svg);
  z-index: -100 !important;
    @media #{$min-width-md-retina-xl} {
    height: 52.5px !important;
    width: 10.5px !important;
    line-height: 52.5px;
    background-size: auto 100%;
  }
}
.desktop-menu.collapsed-true .ant-layout-sider-trigger {
  left: 5rem;
}
.desktop-menu.collapsed-false .ant-layout-sider-trigger {
  left: 14.125rem;
  @media #{$min-width-md-retina-xl} {
    left: 13rem;
  }
}
.desktop-menu .ant-layout-sider-children {
  z-index: 100 !important;
}
.desktop-menu ul:not(.ant-menu-inline-collapsed) li.ant-menu-item {
  @media #{$min-width-md-retina-xl} {
    padding-left: 12px !important;
    padding-right: 8px !important;
  }
}
.desktop-menu ul:not(.ant-menu-inline-collapsed) li.ant-menu-item,
.desktop-menu ul:not(.ant-menu-inline-collapsed) li.ant-menu-item > span > svg {
  font-size: 20px;
  a, span {
    font-weight: normal;
    font-family: Roboto, sans-serif !important;
    color: #ffffff;
  }
  @media #{$min-width-md-retina-xl} {
    font-size: 10px;
    height: 20px;
  }
}
.desktop-menu ul li.ant-menu-item:not(.ant-menu-item-disabled) {
  span[role="img"] {
    color: #75ECF9;
  }
}
.desktop-menu ul li.ant-menu-item.ant-menu-item-disabled {
  span[role="img"] {
    color: rgba(0, 0, 0, 0.25);
  }
}


.desktop-menu li.ant-menu-item.ant-menu-item-selected > span,
.desktop-menu li.ant-menu-item.ant-menu-item-selected .active {
  a, span {
    color: #FCFE2B !important;
  }
  color: #FCFE2B !important;
}

.ant-tooltip-inner * {
  color: #686868;
}