.form__container {
  border-radius: 2.5rem;
  border: 1px solid #fff;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.14) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1.5rem);
  box-shadow: .0625rem .125rem .3125rem .125rem #00000033;
  padding: 2.5rem;
}

h3.check_mail_header__title {
  font-size: 1.45rem;
  font-weight: 700;
  padding: 0 1.7rem;
  color: #fff;
}

span.check_mail_header__sub-title {
  font-size: 1rem;
  font-weight: 300;
  padding: 0 1.7rem;
}