.heb-input-password {
  border: 1px solid #8B91B5 !important;
  border-radius: 0 !important;
  box-sizing: border-box;
  height: 53.14px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.heb-input-password-size__small {
  height: 40px !important;
}
.heb-input-password,
.heb-input-password > .ant-input,
.heb-input-password > .ant-input .ant-input-password-icon:hover,
.heb-input-password::placeholder,
.heb-input-password > .ant-input::placeholder {
  background-color: inherit !important;
  color: #ffffff !important;
  font-size: 20px !important;
  font-family: 'Roboto';
}
.heb-input-password > input:focus {
  border: none !important;
}
.heb-input-password.heb-input-password-type__primary {
  background: #737390 !important;
  border: 1px solid #8B91B5 !important;
  border-radius: 0 !important;
  box-sizing: border-box;
}