.heb-radio.heb-radio__group {
  width: 100%;
}
.heb-radio.heb-radio__group .ant-radio-button-wrapper {
  direction: ltr !important;
  background-color: inherit;
  color: #ffffff !important;
  font-family: 'Montserrat', sans-serif !important;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.09em;
  height: 40px;
  border: 2px solid #75ECF9 !important;
  box-sizing: border-box;
}