.lesson-page-container {
  .ant-page-header {
    background-color: unset !important;
    padding-left: 0;
    padding-right: 0;

    .ant-page-header-heading-left {
      span {
        font-family: "Georgia", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 33px;
        line-height: 37px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #FFFFFF;
      }
    }
    .heb-button {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
  .ant-typography,
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;


    color: #FFFFFF;
  }
  .ant-typography :not(*:lang(he)), p :not(*:lang(he)) {
    font-family: Roboto, sans-serif;
  }
}