.form__container {
	border-radius: .125rem;
	border: .0625rem solid #00000050;
	background-color: #3636361e;
	box-shadow: .0625rem .125rem .3125rem .125rem #00000033;
	padding-top: .4375rem;
	padding-left: .4375rem;
	padding-right: .4375rem;
}

h3.check_mail_header__title {
	font-size: 1.45rem;
	font-weight: 700;
	padding: 0 1.7rem;
}

span.check_mail_header__sub-title {
	font-size: 1rem;
	font-weight: 300;
	padding: 0 1.7rem;
}