.avatar-image {
  width: calc(100% - 30px);
  padding-bottom: calc(100% - 30px);
  margin: 0 0.9375rem;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;

  & > div.menu {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0.9375rem;
    right: 0.9375rem;
    border-radius: 50%;
    background-color: rgba(66, 66, 66, 0.66);
  }
}