.ant-modal-footer {
  display: flex;
  justify-content: space-between;
}

.footer-btns {
  display: block;
}

.registration-form__title h3 {
  margin-bottom: 1rem !important;
  color: #ffffff !important;
}

.register-checkbox .heb-checkbox > span:last-child {
  color: #ffffff !important;
}
