.exercise-component {
  background: #C2C4CB;
  border: .1875rem solid #75ECF9;
  border-radius: 1.9375rem;
  padding: 1rem;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 1.4375rem;
  letter-spacing: .0625rem;

  color: #000;
  .ant-form-item-label > label > h3,
  .ant-radio-button-wrapper > span {
    color: #000 !important;
  }

  .heb-popover:lang(he) a {
    color: #4285f4 !important;
  }
  .heb-popover:lang(he):hover a {
    color: #1668e7 !important;
  }

  .ant-typography,
  .ant-card-head-title,
  .ant-badge-status-text,
  strong,
  .ant-card-grid,
  .ant-card-grid button {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.4375rem !important;
    letter-spacing: .0625rem;
    color: #000000 !important;
  }
  .ant-ribbon-wrapper {
    .ant-card.ant-card-bordered.heb-card {
      .ant-typography > p {
        strong {
          color: #000000 !important;
        }
        color: #000000 !important;
      }
    }
  }
  .collect-sentences .ant-btn-text,
  .ant-select-selector .ant-select-selection-item {
    color: #000000 !important;
  }
  ul {
    padding-left: 0;
    border: unset;
  }
  .heb-text-black {
    color: #000000;

    .ant-typography,
    .ant-badge-status-text,
    strong,
    .ant-card-grid {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 1.25rem;
      line-height: 1.4375rem;
      letter-spacing: .0625rem;
      color: #000000 !important;
    }
  }
  p,
  mark,
  mark > strong {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.4375rem;
    letter-spacing: .0625rem;
    color: #000000 !important;
  }
  .ant-card {
    background: unset;
  }
  .ant-tag {
    background: none;
  }
  .ant-list-item.ant-list-item-no-flex {
    border-bottom: .0625rem solid #75ECF9;
  }

}
