.user_control_list-photo {
	width: 3.125rem;
	border-radius: 1.5625rem;
}

.user_control_list-ico {
	font-size: 1.2rem;
}

.user_control_list-container__header {
	margin-bottom: 1.5rem !important;
}

.vkontakte-ico {
	color: #3f8ae0 !important;
}

.facebook-ico {
	color: #1877f2 !important;
}

.google-ico {
 color: #c72727 !important;
}

.apple-ico {
	color: #000000 !important;
}

.warning-ico {
	color: #dabb0f !important;
}

.success-ico {
	color: #15ac29 !important;
}

.error-ico {
	color: #cf1212 !important;
}